@font-face {
    font-family: __satoshi_ba7a58;
    src: url(/_next/static/media/867bce6efedfde96-s.p.ttf) format("truetype");
    font-display: swap
}

@font-face {
    font-family: __satoshi_Fallback_ba7a58;
    src: local("Arial");
    ascent-override: 92.36%;
    descent-override: 21.95%;
    line-gap-override: 9.14%;
    size-adjust: 109.35%
}

.__className_ba7a58 {
    font-family: __satoshi_ba7a58, __satoshi_Fallback_ba7a58
}

@font-face {
    font-family: Miratrix;
    src: url(/_next/static/media/Miratrix-Normal.8b692b01.otf) format("opentype")
}

*,
:after,
:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

@media only screen and (min-width:850px) {
    ::-webkit-scrollbar {
        height: 5px;
        width: 5px
    }
    ::-webkit-scrollbar-thumb {
        background-color: #6d6b8d;
        border-radius: 17px
    }
}

::-webkit-scrollbar-button {
    display: none
}

::selection {
    color: #fff;
    background-color: #6d6b8d
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .2s
}

.fade-enter,
.fade-enter-from,
.fade-leave-to {
    opacity: 0
}

#app,
.app,
.layout,
body,
html {
    padding: 0;
    margin: 0;
    color: #30230a;
    font-family: Satoshi, sans-serif;
    font-size: 1.71rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: #d99a62;
    overflow-x: hidden;
    position: relative;
    min-height: 100dvh
}

.content {
    visibility: hidden;
    overflow: hidden
}

a,
button {
    outline: none;
    border: none;
    background-color: transparent;
    text-decoration: none;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    cursor: pointer;
    font-size: 1.6rem;
    transition: all .3s;
    display: inline-block
}

ul {
    list-style: none
}

input,
textarea {
    outline: none;
    border: none;
    background-color: transparent;
    font-family: inherit;
    color: inherit;
    font-size: 1.6rem
}

@media only screen and (max-width:850px) {
    input,
    textarea {
        font-size: 13px
    }
}

textarea {
    resize: none;
    overflow: hidden
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0
}

input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield
}

h1,
h2 {
    font-weight: 900
}

img,
picture,
source,
svg,
video {
    pointer-events: none !important;
    -webkit-user-drag: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    user-select: none !important
}

html {
    font-size: clamp(0px, .75vw, 12.5px)
}

@media only screen and (max-width:849px) {
    html {
        font-size: 7.2px
    }
}

@media only screen and (max-width:850px) {
    .desktop {
        display: none !important
    }
}

@media only screen and (min-width:850px) {
    .mobile {
        display: none !important
    }
}

.closed,
.closed-height {
    opacity: 0;
    visibility: hidden;
    pointer-events: none !important
}

.closed-height {
    height: 0 !important
}

.section,
.section-abs {
    position: relative;
    width: 100%
}

.section .inner-container,
.section-abs .inner-container {
    height: 100%;
    position: relative
}

#first {
    animation: first .5s forwards
}

@keyframes first {
    to {
        transform: rotate(45deg) translateX(2px)
    }
}

#first-close {
    animation: first-close .5s forwards
}

@keyframes first-close {
    0% {
        transform: rotate(45deg) translateX(2px)
    }
    to {
        transform: rotate(0) translateX(0)
    }
}

#second {
    animation: second .5s forwards
}

@keyframes second {
    to {
        opacity: 0
    }
}

#second-close {
    animation: second-close .5s forwards
}

@keyframes second-close {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

#third {
    animation: third .5s forwards
}

@keyframes third {
    to {
        transform: rotate(-45deg) translateX(-11px)
    }
}

#third-close {
    animation: third-close .5s forwards
}

@keyframes third-close {
    0% {
        transform: rotate(-45deg) translateX(-11px)
    }
    to {
        transform: rotate(0) translateX(0)
    }
}