.headerLink_link__KsFCE {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15.75342rem;
    height: 5.2226rem;
    background: linear-gradient(90deg, #f4e1dd 45.19%, #dac7c3 94.36%);
    box-shadow: 10px 14px 44px 0 rgba(165, 65, 25, .5);
    border-radius: 4px;
    color: #30230a;
    text-align: center;
    font-family: Miratrix, sans-serif;
    font-size: 1.71233rem;
    font-weight: 400;
    text-transform: uppercase;
    overflow: hidden;
    transition: all .3s
}

.headerLink_link__KsFCE:hover .headerLink_link__firstBg__JY1kD {
    top: 0
}

@media screen and (max-width:850px) {
    .headerLink_link__KsFCE {
        width: 124px;
        height: 51px;
        font-size: 16px;
        line-height: 19px
    }
}

.headerLink_link__KsFCE>span {
    z-index: 25
}

.headerLink_link__line__first__Jf4Jf {
    position: absolute;
    top: .86rem;
    left: 50%;
    transform: translateX(-50%);
    height: 1.5px;
    width: 12.5rem;
    background-color: #d6bbb6;
    transition: all .3s
}

@media screen and (max-width:850px) {
    .headerLink_link__line__first__Jf4Jf {
        width: 86px
    }
}

.headerLink_link__line__last__XwRkm {
    position: absolute;
    bottom: .86rem;
    left: 50%;
    transform: translateX(-50%);
    height: 1.5px;
    width: 12.5rem;
    background-color: #d6bbb6;
    transition: all .3s
}

@media screen and (max-width:850px) {
    .headerLink_link__line__last__XwRkm {
        width: 86px
    }
}

.headerLink_link__firstSide__HK7fa {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 20
}

.headerLink_link__secondSide__xst1a {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 20
}

.headerLink_link__firstBg__JY1kD {
    position: absolute;
    left: -15%;
    top: -50%;
    z-index: 10;
    transition: all .3s
}

.headerLink_link__KsFCE:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #f4e1dd 5.19%, #bdaaa6 94.36%);
    opacity: 0;
    border-radius: 4px;
    transition: opacity .3s;
    z-index: 1
}

.headerLink_link__KsFCE:hover:after {
    opacity: 1
}

.header_header__6vbH_ {
    position: fixed;
    top: 2.33rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5137rem 6.84932rem;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 20px;
    background: hsla(0, 0%, 100%, .4);
    -webkit-backdrop-filter: blur(22px);
    backdrop-filter: blur(22px);
    z-index: 1000;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: all .6s ease-in-out;
    margin: 0 auto;
    width: calc(100% - 14rem);
    max-width: 1920px
}

@media only screen and (max-width:1300px) {
    .header_header__6vbH_ {
        width: calc(100% - 14rem)
    }
}

@media only screen and (max-width:850px) {
    .header_header__6vbH_ {
        width: 70%
    }
}

@media only screen and (max-width:750px) {
    .header_header__6vbH_ {
        width: 75%
    }
}

@media only screen and (max-width:600px) {
    .header_header__6vbH_ {
        width: 90%
    }
}

@media only screen and (max-width:450px) {
    .header_header__6vbH_ {
        width: 92%
    }
}

@media screen and (max-height:800px)and (min-width:851px) {
    .header_header__6vbH_ {
        top: 10px
    }
}

@media screen and (max-width:850px) {
    .header_header__6vbH_ {
        top: 16px;
        padding: 5px 10px
    }
}

.header_header__content__bwZEe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.header_header__links__QZdmh {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    overflow: hidden;
    transition: all .6s ease-in-out;
    z-index: 99999
}

.header_header__links__first__4EjHS {
    margin-top: 40px
}

.header_header__links__last__Rbikg {
    margin-bottom: 35px
}

.header_header__mobile__yntpq {
    display: flex;
    align-items: center;
    gap: 10px
}

.header_header__left__fFPSh {
    display: flex;
    align-items: center;
    gap: 1.28rem
}

@media screen and (max-width:850px) {
    .header_header__left__fFPSh {
        gap: 5px
    }
}

.header_header__left__image__tQ08j {
    position: relative;
    width: 6.84932rem;
    height: 6.84906rem
}

@media screen and (max-width:850px) {
    .header_header__left__image__tQ08j {
        width: 50px;
        height: 50px
    }
}

.header_header__left__text__vlkhH {
    color: #30230a;
    font-family: Satoshi, sans-serif;
    font-size: 1.71233rem;
    font-weight: 900;
    text-transform: uppercase
}

@media screen and (max-width:850px) {
    .header_header__left__text__vlkhH {
        font-size: 16px;
        line-height: 22px
    }
}

.header_header__medium__1xKzn {
    display: flex;
    align-items: center;
    gap: 3.42rem
}

@media screen and (max-width:850px) {
    .header_header__medium__1xKzn {
        display: none
    }
}

.header_header__medium__1xKzn>li>a,
.header_header__medium__1xKzn>li>button {
    color: #30230a;
    text-align: center;
    font-family: Satoshi, sans-serif;
    font-size: 1.36986rem;
    font-weight: 700;
    line-height: 120%;
    transition: all .3s
}

.header_header__medium__1xKzn>li>a:hover,
.header_header__medium__1xKzn>li>button:hover {
    color: #f0360d
}

.header_menu__GzRc5 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 24px;
    transition: all .3s;
    z-index: 99999
}

.header_menu__GzRc5,
.preloader_preloader__kM5H_ {
    display: flex;
    align-items: center;
    justify-content: center
}

.preloader_preloader__kM5H_ {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: 1000000;
    background: #d99a62
}

.preloader_preloader__center__vMie2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.preloader_preloader__percent__7z_Wl {
    color: #30230a;
    text-align: center;
    font-size: 10.2rem;
    font-weight: 900
}

.preloader_preloader__line__UyEA2 {
    width: 0
}

.titleBlock_block__sOEMh {
    position: relative;
    box-shadow: 10px 14px 44px 0 rgba(165, 65, 25, .5);
    background: linear-gradient(90deg, #f55937 60.36%, #d64222 94.36%);
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden
}

@media screen and (max-width:850px) {
    .titleBlock_block__sOEMh {
        height: auto
    }
}

.titleBlock_block__dollar__ufys9 {
    height: 2.05rem;
    margin-top: auto;
    margin-bottom: auto
}

@media screen and (max-width:850px) {
    .titleBlock_block__dollar__ufys9 {
        height: 18px
    }
}

.titleBlock_block__hover__bUH_x {
    transition: none
}

.titleBlock_block__hover__bUH_x:hover>.titleBlock_block__hover__box__tS_Xn {
    opacity: 1
}

.titleBlock_block__hover__box__tS_Xn {
    transition: all .3s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(90deg, #ff380d 60.36%, #9f1d00 94.36%)
}

.titleBlock_block__sun__VvbU3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50%;
    z-index: 10
}

.titleBlock_block__firstSide__Fb_Ua {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100
}

.titleBlock_block__secondSide__STJpx {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 100
}

.titleBlock_block__firstBg__h3lGv {
    position: absolute;
    opacity: .2;
    left: 20px;
    top: -10px;
    z-index: 10
}

.titleBlock_block__secondBg__LVS4b {
    position: absolute;
    opacity: .2;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 10
}

.titleBlock_block__content__HpZ5Z {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;
    z-index: 10;
    width: 100%
}

@media screen and (max-width:850px) {
    .titleBlock_block__content__HpZ5Z {
        padding: 8px 30px;
        gap: 8px
    }
}

.titleBlock_block__content__line__hslmd {
    height: 1.5px;
    width: 100%;
    background-color: #f1b65d
}

.titleBlock_block__content__text__7UVpp {
    font-family: Miratrix, sans-serif;
    color: #fff;
    font-size: 2.05rem;
    font-weight: 500;
    white-space: nowrap;
    display: inline-flex
}

@media screen and (max-width:850px) {
    .titleBlock_block__content__text__7UVpp {
        white-space: normal;
        text-align: center;
        text-wrap: balance;
        font-size: 18px
    }
}

.titleBlock_block__content__text__7UVpp.titleBlock_button__b6Klg {
    font-size: 2.05rem;
    font-weight: 400
}

@media screen and (max-width:850px) {
    .titleBlock_block__content__text__7UVpp.titleBlock_button__b6Klg {
        font-size: 16px
    }
}

.textBlock_block__Dnv3A {
    position: relative;
    box-shadow: 10px 14px 44px 0 rgba(165, 65, 25, .5);
    background: linear-gradient(90deg, #f4e1dd 45.19%, #dac7c3 94.36%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 23rem
}

.textBlock_block__Dnv3A.textBlock_golden__tf15T {
    background: linear-gradient(90deg, #f1b65d 45.19%, #f09d20 94.36%)
}

.textBlock_block__sun__bVpZy {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50%;
    z-index: 10
}

.textBlock_block__firstSide__ggfYI {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 20
}

.textBlock_block__secondSide__HgoM_ {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 20
}

.textBlock_block__firstBg__hyNQu {
    position: absolute;
    left: 2rem;
    top: 0;
    z-index: 10
}

.textBlock_block__secondBg__jKhNY {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    right: 25%;
    z-index: 10
}

.textBlock_block__content__yDnf_ {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    padding: .86rem 4rem;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    z-index: 10
}

@media screen and (max-width:850px) {
    .textBlock_block__content__yDnf_ {
        gap: 10px;
        padding: 10px 12px
    }
}

.textBlock_block__content__title__5CGn0 {
    background: radial-gradient(85.44% 86.99% at 8.99% 50%, #2cd050 0, #1c8834 58.59%, #2cd050 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    text-wrap: balance
}

@media screen and (max-width:850px) {
    .textBlock_block__content__title__5CGn0 {
        font-size: 16px
    }
}

.textBlock_block__content__title__5CGn0.textBlock_golden__tf15T {
    background-clip: inherit;
    -webkit-background-clip: inherit;
    -webkit-text-fill-color: #30230a;
    background: none
}

.textBlock_block__content__line__sww6l {
    height: 1.5px;
    width: 100%;
    background-color: #d6bbb6
}

.textBlock_block__content__line__sww6l.textBlock_golden__tf15T {
    background-color: #dc8e19
}

.textBlock_block__content__text__rTuQd {
    color: #30230a;
    font-weight: 500;
    font-size: 1.71rem;
    text-align: center;
    text-wrap: balance
}

@media screen and (max-width:850px) {
    .textBlock_block__content__text__rTuQd {
        font-size: 14px;
        padding: 0 20px
    }
}

.textBlock_block__content__text__rTuQd.textBlock_big__yI0Sd {
    font-size: 2.4rem;
    font-weight: 700
}

@media screen and (max-width:850px) {
    .textBlock_block__content__text__rTuQd.textBlock_big__yI0Sd {
        font-size: 16px
    }
}

.error_error__KQ8mq {
    position: relative;
    width: 100dvw;
    height: 100dvh;
    max-height: 100dvh;
    overflow: hidden !important;
    background: #d99a62;
    z-index: 10;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.error_error__sun__IcOda {
    position: absolute;
    left: 50%;
    top: -100vh;
    transform: translateX(-50%)
}

@media screen and (min-width:1600px) and (max-width:2194px) {
    .error_error__sun__IcOda {
        top: -200vh
    }
}

@media screen and (min-width:851px) and (max-width:1599px) {
    .error_error__sun__IcOda {
        top: -210vh
    }
}

@media screen and (max-width:850px) {
    .error_error__sun__IcOda {
        top: -200vh
    }
}

.error_error__bg__oGFrY {
    background-image: url(/static/svg/firstScreenBg.svg);
    opacity: .4;
    mix-blend-mode: exclusion
}

.error_error__bgImg__IFgqb,
.error_error__bg__oGFrY {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.error_error__bgImg__IFgqb {
    mix-blend-mode: soft-light;
    background: linear-gradient(180deg, #d9d9d9 68.8%, hsla(0, 0%, 45%, 0));
    filter: blur(3px)
}

.error_error__ground__tmfa0 {
    z-index: 100;
    position: absolute;
    width: 100dvw;
    bottom: -20px;
    left: 0
}

@media screen and (max-width:850px) {
    .error_error__ground__tmfa0 {
        width: 200dvw
    }
}

.error_error__ground__tmfa0>svg {
    width: 100%
}

.error_error__svg__cP7Kh {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 55%;
    mix-blend-mode: overlay;
    background-blend-mode: overlay
}

@media screen and (max-width:850px) {
    .error_error__svg__cP7Kh {
        top: 40%
    }
}

.error_error__svg__content__7fk8n {
    position: relative;
    width: 92.22851rem;
    height: 58.98973rem;
    mix-blend-mode: overlay;
    background-blend-mode: overlay
}

@media screen and (max-width:850px) {
    .error_error__svg__content__7fk8n {
        width: 410.12px;
        height: 263px
    }
}

.error_error__left__BY9T3 {
    pointer-events: none;
    position: absolute;
    left: -2vw;
    bottom: 0;
    width: 50dvw;
    z-index: 50
}

.error_error__left__BY9T3>div {
    position: absolute;
    left: 0;
    bottom: 0
}

.error_error__left__BY9T3>div:first-child {
    aspect-ratio: 911/468;
    width: 40vw;
    z-index: 30
}

@media screen and (max-width:850px) {
    .error_error__left__BY9T3>div:first-child {
        width: 100vw
    }
}

.error_error__left__BY9T3>div:nth-child(2) {
    aspect-ratio: 951/476;
    width: 42.5vw;
    z-index: 20
}

@media screen and (max-width:850px) {
    .error_error__left__BY9T3>div:nth-child(2) {
        width: 110vw
    }
}

.error_error__left__BY9T3>div:nth-child(3) {
    aspect-ratio: 977/489;
    width: 45vw;
    z-index: 10
}

@media screen and (max-width:850px) {
    .error_error__left__BY9T3>div:nth-child(3) {
        width: 120vw
    }
}

.error_error__left__BY9T3>svg {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 25
}

.error_error__left__BY9T3>svg.error_firstTree__BzZGX {
    width: 14rem;
    bottom: 11vw;
    left: -3vw
}

.error_error__left__BY9T3>svg.error_secondTree__8cOKy {
    width: 16rem;
    bottom: 15vw;
    left: 6vw
}

.error_error__left__BY9T3>svg.error_thirdTree__LR6T_ {
    width: 14rem;
    bottom: 13vw;
    left: 17vw
}

.error_error__right__sXPXt {
    pointer-events: none;
    position: absolute;
    right: -2vw;
    bottom: 0;
    z-index: 90
}

.error_error__right__sXPXt>div {
    position: absolute;
    right: 0;
    bottom: 0
}

.error_error__right__sXPXt>div:first-child {
    aspect-ratio: 1132/688;
    width: 52.5vw;
    z-index: 30
}

@media screen and (max-width:850px) {
    .error_error__right__sXPXt>div:first-child {
        width: 100vw
    }
}

.error_error__right__sXPXt>div:nth-child(2) {
    aspect-ratio: 1255/674;
    width: 60vw;
    z-index: 20
}

@media screen and (max-width:850px) {
    .error_error__right__sXPXt>div:nth-child(2) {
        width: 115vw
    }
}

.error_error__right__sXPXt>div:nth-child(3) {
    aspect-ratio: 1343/704;
    width: 65vw;
    z-index: 10
}

@media screen and (max-width:850px) {
    .error_error__right__sXPXt>div:nth-child(3) {
        width: 130vw
    }
}

.error_error__content__hDR5_ {
    position: absolute;
    top: 54.54rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100
}

.error_error__content__text__pjyvk {
    position: relative;
    width: 38.18493rem;
    height: 10.87329rem
}

@media screen and (max-width:850px) {
    .error_error__content__text__pjyvk {
        width: 340px;
        height: 95px
    }
}

.error_error__content__text__block__Rm_9x {
    position: relative;
    height: 10.87329rem !important
}

@media screen and (max-width:850px) {
    .error_error__content__text__block__Rm_9x {
        height: 95px !important
    }
}

.error_error__content__bottom__Cpw3J {
    margin-top: -1.54rem;
    z-index: 110
}

@media screen and (max-width:850px) {
    .error_error__content__bottom__Cpw3J {
        margin-top: -16px
    }
}

.second_second__fFLqV {
    position: absolute;
    overflow: hidden;
    top: 100dvh;
    width: 100dvw;
    height: 100dvh;
    z-index: 1000;
    will-change: transform
}

.second_second__sea___bbw1 {
    position: absolute;
    bottom: 0;
    right: -100px;
    width: 100%;
    will-change: transform
}

@media screen and (max-height:800px)and (min-width:851px) {
    .second_second__sea___bbw1 {
        bottom: -150px
    }
}

@media screen and (max-width:850px) {
    .second_second__sea___bbw1 {
        bottom: -100px;
        right: 0
    }
}

.second_second__sea__wave1__9t3Ui {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 30
}

@media screen and (min-width:2101px) {
    .second_second__sea__wave1__9t3Ui {
        width: 110vw;
        height: auto
    }
}

@media screen and (max-width:850px) {
    .second_second__sea__wave1__9t3Ui {
        width: 100vw
    }
}

.second_second__sea__wave2__DvPfX {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 125px;
    right: 0;
    z-index: 20
}

@media screen and (min-width:2201px) {
    .second_second__sea__wave2__DvPfX {
        width: 110vw;
        height: auto
    }
}

@media screen and (max-width:850px) {
    .second_second__sea__wave2__DvPfX {
        width: 100vw;
        bottom: 100px
    }
}

.second_second__sea__wave3__jUd4Z {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 155px;
    right: 0;
    z-index: 10
}

@media screen and (min-width:2201px) {
    .second_second__sea__wave3__jUd4Z {
        width: 110vw;
        height: auto
    }
}

@media screen and (max-width:850px) {
    .second_second__sea__wave3__jUd4Z {
        width: 100vw;
        bottom: 120px
    }
}

.second_second__sea__wave4__4rfy3 {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 170px;
    right: 0;
    z-index: 5
}

@media screen and (min-width:2201px) {
    .second_second__sea__wave4__4rfy3 {
        width: 110vw;
        height: auto
    }
}

@media screen and (max-width:850px) {
    .second_second__sea__wave4__4rfy3 {
        width: 100vw;
        bottom: 140px
    }
}

.second_second__sea__dragon__8Przu {
    position: absolute;
    left: 35%;
    transform: translateX(-50%);
    bottom: -10rem;
    aspect-ratio: 989.33/892.51;
    width: 85rem
}

@media screen and (max-height:800px)and (min-width:851px) {
    .second_second__sea__dragon__8Przu {
        bottom: -15rem
    }
}

@media screen and (max-width:850px) {
    .second_second__sea__dragon__8Przu {
        width: 600px;
        left: 100px;
        transform: translateX(-55%);
        bottom: 130px
    }
}

@media screen and (max-width:850px)and (max-height:500px) {
    .second_second__sea__dragon__8Przu {
        bottom: -50px
    }
}

.second_second__sea__dragon__body__feZCH {
    position: relative;
    width: 100%;
    height: 100%
}

.second_second__sea__dragon__head__4zvga {
    position: absolute;
    top: -8rem;
    right: 10rem;
    aspect-ratio: 483/411;
    width: 41.3rem;
    z-index: 10
}

.second_second__sea__dragon__head__red__LLE8g {
    opacity: 0;
    top: 39%;
    position: absolute;
    left: 36%
}

@media screen and (max-width:850px) {
    .second_second__sea__dragon__head__red__LLE8g {
        top: 34%;
        left: 25%
    }
}

.second_second__sea__dragon__head__heart__Q8a2h {
    opacity: 0;
    position: absolute;
    transform: scaleX(-1)
}

.second_second__sea__dragon__head__heart__Q8a2h:nth-child(2) {
    bottom: 200px;
    right: 0
}

.second_second__sea__dragon__head__heart__Q8a2h:nth-child(3) {
    top: 0;
    right: 62px
}

@media screen and (max-width:850px) {
    .second_second__sea__dragon__head__heart__Q8a2h:nth-child(3) {
        top: auto;
        bottom: 70px;
        right: -32px
    }
}

.second_second__sea__dragon__head__heart__Q8a2h:nth-child(4) {
    top: 70px;
    right: 280px
}

@media screen and (max-width:850px) {
    .second_second__sea__dragon__head__heart__Q8a2h:nth-child(4) {
        top: 70px;
        right: 200px
    }
}

.second_second__sea__dragon__head__heart__Q8a2h:nth-child(5) {
    bottom: 150px;
    right: 35px
}

@media screen and (max-width:850px) {
    .second_second__sea__dragon__head__heart__Q8a2h:nth-child(5) {
        bottom: 100px;
        right: 35px
    }
}

.second_second__sea__dragon__head__heart__Q8a2h:nth-child(6) {
    top: 0;
    right: 150px
}

.second_second__sea__dragon__head__heart__Q8a2h:nth-child(7) {
    top: 0;
    left: 200px
}

@media screen and (max-width:850px) {
    .second_second__sea__dragon__head__heart__Q8a2h:nth-child(7) {
        top: -25px
    }
}

.second_second__content__kUu3O {
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 150px;
    width: 80rem;
    height: 23rem;
    z-index: 100
}

@media screen and (max-height:800px)and (min-width:851px) {
    .second_second__content__kUu3O {
        bottom: 50px
    }
}

@media screen and (max-width:850px) {
    .second_second__content__kUu3O {
        width: 363px;
        height: 269px;
        bottom: 100px
    }
}

.second_second__content__text__f3zRY {
    position: absolute;
    right: 0;
    top: 0;
    width: 80rem;
    height: 100%
}

@media screen and (max-width:850px) {
    .second_second__content__text__f3zRY {
        width: 363px;
        height: 269px;
        will-change: scale
    }
}

.second_second__content__text__f3zRY:nth-child(2) {
    width: 0;
    z-index: 10
}

@media screen and (max-width:850px) {
    .second_second__content__text__f3zRY:nth-child(2) {
        width: 100%
    }
}

.second_second__content__text__f3zRY:nth-child(2)>div {
    width: 80rem
}

@media screen and (max-width:850px) {
    .second_second__content__text__f3zRY:nth-child(2)>div {
        width: 363px
    }
}

.second_second__content__text__f3zRY:nth-child(3) {
    width: 0;
    z-index: 20
}

@media screen and (max-width:850px) {
    .second_second__content__text__f3zRY:nth-child(3) {
        width: 100%
    }
}

.second_second__content__text__f3zRY:nth-child(3)>div {
    width: 80rem
}

@media screen and (max-width:850px) {
    .second_second__content__text__f3zRY:nth-child(3)>div {
        width: 363px
    }
}

.second_second__svg__O3GmA {
    position: absolute;
    will-change: translate
}

.second_second__svg__O3GmA.second_firstSVG__AsZSu {
    left: 70%;
    bottom: 50px;
    transform: translateX(-50%)
}

@media screen and (max-height:800px)and (min-width:851px) {
    .second_second__svg__O3GmA.second_firstSVG__AsZSu {
        bottom: -300px;
        left: 85%
    }
}

@media screen and (max-width:850px) {
    .second_second__svg__O3GmA.second_firstSVG__AsZSu {
        bottom: -50px;
        left: auto;
        right: 27.5px;
        transform: none
    }
}

@media screen and (max-width:850px)and (max-height:500px) {
    .second_second__svg__O3GmA.second_firstSVG__AsZSu {
        bottom: -280px
    }
}

.second_second__svg__O3GmA.second_secondSVG__Viv38 {
    left: 25%;
    bottom: 100px
}

@media screen and (max-height:800px)and (min-width:851px) {
    .second_second__svg__O3GmA.second_secondSVG__Viv38 {
        bottom: -250px
    }
}

@media screen and (max-width:850px) {
    .second_second__svg__O3GmA.second_secondSVG__Viv38 {
        bottom: -10vh;
        left: 0
    }
}

@media screen and (max-width:850px)and (max-height:500px) {
    .second_second__svg__O3GmA.second_secondSVG__Viv38 {
        bottom: calc(-10vh - 180px)
    }
}

.second_second__img__vpQwA {
    position: absolute;
    aspect-ratio: 160/706;
    height: 706px;
    bottom: 150px;
    left: 15%;
    will-change: translate
}

@media screen and (max-height:800px)and (min-width:851px) {
    .second_second__img__vpQwA {
        bottom: -200px
    }
}

@media screen and (max-width:850px) {
    .second_second__img__vpQwA {
        bottom: -100px;
        left: -10px
    }
}

@media screen and (max-width:850px)and (max-height:500px) {
    .second_second__img__vpQwA {
        bottom: -330px
    }
}

.third_third__4MAQ3 {
    position: absolute;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    background: linear-gradient(111deg, #e5c08b 11.76%, #bc7b55);
    z-index: 10000;
    will-change: transform
}

@media screen and (max-width:850px) {
    .third_third__4MAQ3 {
        overflow: hidden
    }
}

.third_third__body__qWOQO {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.third_third__right__zdYGl {
    position: absolute;
    height: 120dvh;
    left: 97%;
    top: 50%;
    transform: translateY(-50%);
    aspect-ratio: 182/1114;
    z-index: 10;
    will-change: transform
}

@media screen and (max-width:850px) {
    .third_third__right__zdYGl {
        right: -50px;
        left: auto;
        z-index: 100
    }
}

.third_third__acticles__X66uq {
    position: absolute;
    width: 100%;
    height: 100%
}

.third_third__bg__3qG9f {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1782px;
    height: 915px
}

@media screen and (max-height:800px)and (min-width:851px) {
    .third_third__bg__3qG9f {
        top: 60%
    }
}

@media screen and (max-width:1450px) {
    .third_third__bg__3qG9f {
        left: 60%
    }
}

@media screen and (max-width:850px) {
    .third_third__bg__3qG9f {
        left: 0;
        transform: translateY(-50%)
    }
}

.third_third__map__2VcwP {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1782px;
    height: 915px
}

@media screen and (max-height:800px)and (min-width:851px) {
    .third_third__map__2VcwP {
        top: 60%
    }
}

@media screen and (max-width:1450px) {
    .third_third__map__2VcwP {
        left: 60%
    }
}

@media screen and (max-width:850px) {
    .third_third__map__2VcwP {
        left: 0;
        transform: translateY(-50%)
    }
}

.third_third__map__2VcwP>svg {
    position: absolute
}

.third_third__map__2VcwP>svg.third_border__cNdJF {
    border: 3px solid #f5e2dd;
    border-radius: 50%
}

.third_third__map__2VcwP>svg:first-child {
    left: 194px;
    bottom: 411px;
    z-index: 10
}

.third_third__map__2VcwP>svg:nth-child(2) {
    top: 111px;
    left: 455px;
    z-index: 10
}

.third_third__map__2VcwP>svg:nth-child(3) {
    left: 754px;
    bottom: 421px;
    z-index: 10
}

.third_third__map__2VcwP>svg:nth-child(4) {
    right: 481px;
    top: 185px;
    z-index: 10
}

.third_third__map__2VcwP>svg:nth-child(5) {
    left: 263px;
    top: 188px
}

.third_third__map__2VcwP>svg:nth-child(6) {
    left: 534px;
    top: 187px
}

.third_third__map__2VcwP>svg:nth-child(7) {
    right: 597px;
    top: 294px
}

.third_third__content__UYc1i {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
    width: 80rem;
    height: 23rem;
    z-index: 100
}

@media screen and (max-height:800px)and (min-width:851px) {
    .third_third__content__UYc1i {
        bottom: 50px
    }
}

@media screen and (max-width:850px) {
    .third_third__content__UYc1i {
        width: 363px;
        height: 244px;
        bottom: 58px
    }
}

.third_third__content__text__csLCu {
    position: absolute;
    right: 0;
    top: 0;
    width: 80rem;
    height: 100%
}

@media screen and (max-width:850px) {
    .third_third__content__text__csLCu {
        width: 363px;
        height: 244px
    }
}

.third_third__content__text__csLCu:nth-child(3) {
    width: 0;
    z-index: 10
}

@media screen and (max-width:850px) {
    .third_third__content__text__csLCu:nth-child(3) {
        width: 100%
    }
}

.third_third__content__text__csLCu:nth-child(3)>div {
    width: 80rem
}

.third_third__content__text__csLCu:nth-child(4) {
    width: 0;
    z-index: 20
}

@media screen and (max-width:850px) {
    .third_third__content__text__csLCu:nth-child(4) {
        width: 100%
    }
}

.third_third__content__text__csLCu:nth-child(4)>div {
    width: 80rem
}

.third_third__content__text__csLCu:nth-child(5) {
    width: 0;
    z-index: 30
}

@media screen and (max-width:850px) {
    .third_third__content__text__csLCu:nth-child(5) {
        width: 100%
    }
}

.third_third__content__text__csLCu:nth-child(5)>div {
    width: 80rem
}

.third_third__content__title__9lgk7 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -4rem;
    z-index: 100;
    white-space: nowrap
}

@media screen and (max-width:850px) {
    .third_third__content__title__9lgk7 {
        width: 80%;
        top: -60px
    }
}

.third_third__content__textBlock___YTs9 {
    width: 52rem
}

.third_third__buy__QOJUx {
    position: absolute;
    bottom: 18rem;
    right: 5rem
}

@media screen and (max-width:850px) {
    .third_third__buy__QOJUx {
        bottom: 375px;
        right: 16px
    }
}

@media screen and (max-width:850px)and (max-height:500px) {
    .third_third__buy__QOJUx {
        bottom: 50px
    }
}

.third_third__buy__button__4O8d2 {
    z-index: 50
}

.third_third__buy__coin1__U84JI {
    position: absolute;
    aspect-ratio: 1/1;
    width: 9.6rem;
    left: -2rem;
    top: -3.4rem
}

.third_third__buy__coin2__pZyvM {
    position: absolute;
    aspect-ratio: 1/1;
    width: 4.8rem;
    bottom: -1rem;
    right: 0;
    rotate: -45deg
}

.buyCoinButton_button__MDEen {
    position: relative;
    aspect-ratio: 1/1;
    width: 15.4rem
}

@media screen and (max-width:850px) {
    .buyCoinButton_button__MDEen {
        width: 104px
    }
}

.buyCoinButton_button__MDEen:hover .buyCoinButton_hovered__0YZ9U {
    opacity: 1
}

.buyCoinButton_button__bg___yeFZ {
    position: absolute;
    aspect-ratio: 1/1;
    width: 15.4rem;
    left: 0;
    top: 0
}

@media screen and (max-width:850px) {
    .buyCoinButton_button__bg___yeFZ {
        width: 104px
    }
}

.buyCoinButton_button__bg___yeFZ.buyCoinButton_hovered__0YZ9U {
    transition: all .3s;
    opacity: 0;
    z-index: 10
}

.buyCoinButton_button__text__J8CbV {
    position: relative;
    z-index: 20;
    font-family: Miratrix, sans-serif;
    font-size: 2.05rem;
    font-weight: 400;
    color: #fff;
    display: inline-flex
}

@media screen and (max-width:850px) {
    .buyCoinButton_button__text__J8CbV {
        font-size: 18px
    }
}

.buyCoinButton_button__text__dollar__qF9Hq {
    height: 2.05rem;
    margin-top: auto;
    margin-bottom: auto
}

@media screen and (max-width:850px) {
    .buyCoinButton_button__text__dollar__qF9Hq {
        height: 18px
    }
}

.fourth_fourth__es_XL {
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    z-index: 50
}

.fourth_fourth__title__mOwx6 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 150px;
    aspect-ratio: 696/107;
    width: 60rem;
    z-index: 10
}

@media screen and (max-height:800px)and (min-width:851px) {
    .fourth_fourth__title__mOwx6 {
        top: 100px
    }
}

@media screen and (max-width:850px) {
    .fourth_fourth__title__mOwx6 {
        width: 313px;
        top: 130px
    }
}

.fourth_fourth__sea__nmFId {
    position: absolute;
    bottom: 0;
    right: -100px;
    width: 100%;
    z-index: 10;
    will-change: transform
}

@media screen and (max-height:800px)and (min-width:851px) {
    .fourth_fourth__sea__nmFId {
        bottom: -150px
    }
}

@media screen and (max-width:850px) {
    .fourth_fourth__sea__nmFId {
        bottom: 0;
        right: 0
    }
}

.fourth_fourth__sea__wave1__JAptU {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 30
}

@media screen and (min-width:2101px) {
    .fourth_fourth__sea__wave1__JAptU {
        width: 110vw;
        height: auto
    }
}

@media screen and (max-width:850px) {
    .fourth_fourth__sea__wave1__JAptU {
        width: 100vw
    }
}

.fourth_fourth__sea__wave2__2uGEA {
    position: absolute;
    bottom: 125px;
    right: 0;
    z-index: 20
}

@media screen and (min-width:2201px) {
    .fourth_fourth__sea__wave2__2uGEA {
        width: 110vw;
        height: auto
    }
}

@media screen and (max-width:850px) {
    .fourth_fourth__sea__wave2__2uGEA {
        width: 100vw;
        bottom: 100px
    }
}

.fourth_fourth__sea__wave3__yCVfx {
    position: absolute;
    bottom: 155px;
    right: 0;
    z-index: 10
}

@media screen and (min-width:2201px) {
    .fourth_fourth__sea__wave3__yCVfx {
        width: 110vw;
        height: auto
    }
}

@media screen and (max-width:850px) {
    .fourth_fourth__sea__wave3__yCVfx {
        width: 100vw;
        bottom: 120px
    }
}

.fourth_fourth__sea__wave4__IkJV3 {
    position: absolute;
    bottom: 170px;
    right: 0;
    z-index: 5
}

@media screen and (min-width:2201px) {
    .fourth_fourth__sea__wave4__IkJV3 {
        width: 110vw;
        height: auto
    }
}

@media screen and (max-width:850px) {
    .fourth_fourth__sea__wave4__IkJV3 {
        width: 100vw;
        bottom: 140px
    }
}

.fourth_fourth__bridge__hB5Po {
    position: absolute;
    width: 100vw;
    bottom: -3vw;
    z-index: 100
}

@media screen and (max-width:850px) {
    .fourth_fourth__bridge__hB5Po {
        left: 50%;
        transform: translateX(-50%);
        width: 1143px
    }
}

.fourth_fourth__rays__vk__l,
.fourth_fourth__sun__zxhmk {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 65%;
    will-change: transform
}

.fourth_fourth__rays__vk__l {
    opacity: .3
}

.fourth_fourth__sun__zxhmk {
    aspect-ratio: 1/1;
    width: 39rem
}

@media screen and (max-width:850px) {
    .fourth_fourth__sun__zxhmk {
        width: 3 50px
    }
}

.fourth_fourth__content__OP_o8 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    top: 350px;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content
}

@media screen and (max-height:800px)and (min-width:851px) {
    .fourth_fourth__content__OP_o8 {
        top: 275px
    }
}

@media screen and (max-width:850px) {
    .fourth_fourth__content__OP_o8 {
        top: 250px
    }
}

.fourth_fourth__content__OP_o8>.fourth_first__Ry8l7 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 42rem;
    height: 10rem
}

@media screen and (max-width:850px) {
    .fourth_fourth__content__OP_o8>.fourth_first__Ry8l7 {
        width: 350px;
        height: 100px
    }
}

.fourth_fourth__content__OP_o8>.fourth_second__fNCcB {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 34rem;
    height: 11rem
}

@media screen and (max-width:850px) {
    .fourth_fourth__content__OP_o8>.fourth_second__fNCcB {
        width: 280px;
        height: 100px
    }
}

.fourth_fourth__content__OP_o8>.fourth_third__0dTmB {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5.22rem;
    gap: 5.22rem;
    height: 23rem;
    width: 39rem
}

@media screen and (max-width:850px) {
    .fourth_fourth__content__OP_o8>.fourth_third__0dTmB {
        width: 320px;
        gap: 53px;
        height: 190px
    }
}

.fourth_fourth__content__OP_o8>.fourth_third__0dTmB>.fourth_box__Dhpmt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .86rem;
    gap: .86rem
}

@media screen and (max-width:850px) {
    .fourth_fourth__content__OP_o8>.fourth_third__0dTmB>.fourth_box__Dhpmt {
        gap: 15px
    }
}

.fourth_fourth__bg__uNXUu {
    position: absolute;
    height: 105vh;
    top: 0;
    right: 5vw;
    z-index: 5
}

.fourth_fourth__left__E4AJ5 {
    position: absolute;
    left: -30px;
    bottom: 0;
    z-index: 30;
    will-change: transform
}

@media screen and (max-width:850px) {
    .fourth_fourth__left__E4AJ5 {
        left: -100px
    }
}

.fourth_fourth__left__E4AJ5>svg {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100vh
}

@media screen and (max-width:850px) {
    .fourth_fourth__left__E4AJ5>svg {
        height: 600px
    }
}

.fourth_fourth__left__E4AJ5>svg:first-child {
    z-index: 5;
    height: 90vh
}

@media screen and (max-width:850px) {
    .fourth_fourth__left__E4AJ5>svg:first-child {
        height: 550px
    }
}

.fourth_fourth__right__YF0sg {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;
    will-change: transform
}

@media screen and (max-width:850px) {
    .fourth_fourth__right__YF0sg {
        z-index: 1;
        bottom: 10vh
    }
}

.fourth_fourth__right__YF0sg>svg {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 45vw
}

@media screen and (max-width:850px) {
    .fourth_fourth__right__YF0sg>svg {
        width: 420px;
        right: -100px;
        bottom: 60px
    }
}

.fourth_fourth__right__YF0sg>svg:first-child {
    z-index: 5
}

.fourth_fourth__right__YF0sg>svg:nth-child(2) {
    bottom: 10vh
}

@media screen and (max-width:850px) {
    .fourth_fourth__right__YF0sg>svg:nth-child(2) {
        bottom: 120px
    }
}

.fourth_fourth__address__cbvgZ {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
    opacity: 0;
    visibility: hidden;
    z-index: 100
}

@media screen and (max-width:850px) {
    .fourth_fourth__address__cbvgZ {
        width: 100%
    }
}

.fourth_fourth__address__cbvgZ>h1 {
    color: #30230a;
    text-align: center;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-size: 10.2rem;
    font-weight: 900;
    white-space: nowrap
}

@media screen and (max-width:850px) {
    .fourth_fourth__address__cbvgZ>h1 {
        font-size: 54px;
        white-space: normal
    }
}

.fourth_fourth__address__button__1ybBk {
    display: flex;
    align-items: center;
    gap: .6rem
}

@media screen and (max-width:850px) {
    .fourth_fourth__address__button__1ybBk {
        gap: 10px
    }
}

.fourth_fourth__address__button__1ybBk:hover>p {
    color: #f55937
}

.fourth_fourth__address__button__1ybBk:hover>svg path {
    fill: #f55937
}

.fourth_fourth__address__button__1ybBk.fourth_copied__ofIci>p {
    color: #1c8834
}

.fourth_fourth__address__button__1ybBk.fourth_copied__ofIci>svg path {
    fill: #1c8834
}

.fourth_fourth__address__button__1ybBk>p {
    transition: all .3s;
    color: #30230a;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700
}

@media screen and (max-width:850px) {
    .fourth_fourth__address__button__1ybBk>p {
        font-size: 20px
    }
}

.fourth_fourth__address__button__1ybBk>svg {
    aspect-ratio: 1/1;
    width: 2.05rem
}

@media screen and (max-width:850px) {
    .fourth_fourth__address__button__1ybBk>svg {
        width: 24px
    }
}

.fourth_fourth__address__button__1ybBk>svg path {
    transition: all .3s
}

.textWithTitleBlock_block__5cCH2 {
    position: relative;
    width: 100%;
    height: 100%
}

.textWithTitleBlock_block__title__4X97D {
    left: 50%;
    transform: translateX(-50%);
    top: -4.5rem;
    position: absolute;
    width: 70%;
    z-index: 100
}

@media screen and (max-width:850px) {
    .textWithTitleBlock_block__title__4X97D {
        top: -40px;
        width: 90%
    }
    .textWithTitleBlock_block__title__4X97D span {
        white-space: nowrap !important
    }
}

.textWithTitleBlock_block__text__wAJXB {
    width: 100%;
    height: 100%
}

.last_last__jSOuF {
    position: absolute;
    top: 100dvh;
    width: 100dvw;
    height: 100dvh;
    z-index: 1000
}

.last_last__bg__1zOxV {
    background-image: url(/_next/static/media/firstScreenBg.8d2fed11.svg);
    opacity: .4;
    mix-blend-mode: exclusion
}

.last_last__bgImg__fS6c4,
.last_last__bg__1zOxV {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.last_last__bgImg__fS6c4 {
    mix-blend-mode: soft-light;
    background: linear-gradient(180deg, #d9d9d9 68.8%, hsla(0, 0%, 45%, 0));
    filter: blur(3px)
}

.last_last__ground__XvG9C {
    z-index: 100;
    position: absolute;
    width: 100dvw;
    bottom: -20px;
    left: 0
}

@media screen and (max-width:850px) {
    .last_last__ground__XvG9C {
        width: 200dvw
    }
}

.last_last__ground__XvG9C>svg {
    width: 100%
}

.last_last__left__EPXMu {
    pointer-events: none;
    position: absolute;
    left: -2vw;
    bottom: 0;
    width: 50dvw;
    z-index: 50
}

.last_last__left__EPXMu>div {
    position: absolute;
    left: 0;
    bottom: 0
}

.last_last__left__EPXMu>div:first-child {
    aspect-ratio: 911/468;
    width: 40vw;
    z-index: 30
}

@media screen and (max-width:850px) {
    .last_last__left__EPXMu>div:first-child {
        width: 100vw
    }
}

.last_last__left__EPXMu>div:nth-child(2) {
    aspect-ratio: 951/476;
    width: 42.5vw;
    z-index: 20
}

@media screen and (max-width:850px) {
    .last_last__left__EPXMu>div:nth-child(2) {
        width: 110vw
    }
}

.last_last__left__EPXMu>div:nth-child(3) {
    aspect-ratio: 977/489;
    width: 45vw;
    z-index: 10
}

@media screen and (max-width:850px) {
    .last_last__left__EPXMu>div:nth-child(3) {
        width: 120vw
    }
}

.last_last__left__EPXMu>svg {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 25
}

.last_last__left__EPXMu>svg.last_firstTree__Ca9AV {
    width: 14rem;
    bottom: 11vw;
    left: -3vw
}

.last_last__left__EPXMu>svg.last_secondTree__LvNoP {
    width: 16rem;
    bottom: 15vw;
    left: 6vw
}

.last_last__left__EPXMu>svg.last_thirdTree__ev0j5 {
    width: 14rem;
    bottom: 13vw;
    left: 17vw
}

.last_last__right__bz_FE {
    pointer-events: none;
    position: absolute;
    right: -2vw;
    bottom: 0;
    z-index: 90
}

@media screen and (max-width:850px)and (max-height:500px) {
    .last_last__right__bz_FE {
        display: none
    }
}

.last_last__right__bz_FE>div {
    position: absolute;
    right: 0;
    bottom: 0
}

.last_last__right__bz_FE>div:first-child {
    aspect-ratio: 1132/688;
    width: 52.5vw;
    z-index: 30
}

@media screen and (max-width:850px) {
    .last_last__right__bz_FE>div:first-child {
        width: 100vw
    }
}

.last_last__right__bz_FE>div:nth-child(2) {
    aspect-ratio: 1255/674;
    width: 60vw;
    z-index: 20
}

@media screen and (max-width:850px) {
    .last_last__right__bz_FE>div:nth-child(2) {
        width: 115vw
    }
}

.last_last__right__bz_FE>div:nth-child(3) {
    aspect-ratio: 1343/704;
    width: 65vw;
    z-index: 10
}

@media screen and (max-width:850px) {
    .last_last__right__bz_FE>div:nth-child(3) {
        width: 130vw
    }
}

.last_last__coin__LmZUK {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    aspect-ratio: 1/1;
    height: 80vh;
    top: 70%;
    z-index: 70
}

@media screen and (max-width:850px) {
    .last_last__coin__LmZUK {
        height: 500px
    }
}

.last_last__content__ZRl5C {
    display: flex;
    flex-direction: column;
    align-items: center
}

.last_last__content__ZRl5C>h1 {
    margin-top: 10rem;
    position: relative;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    font-size: 10.27rem;
    font-weight: 900;
    background: radial-gradient(85.44% 86.99% at 8.99% 50%, #f0360d 0, #d05236 58.59%, #f0360d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.last_last__content__ZRl5C>h1 svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    fill: linear-gradient(113deg, #fff4ca, #f1b65d 65.13%);
    opacity: .7
}

.last_last__content__ZRl5C>h1 span.last_first__a_yok {
    background: url(/_next/static/media/firstBg.1222fc61.svg) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    background-position: 20px 70%
}

.last_last__content__ZRl5C>h1 span.last_second__x6WJs {
    background: url(/_next/static/media/secondBg.92512d54.svg) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    background-position: 70px 70%
}

.last_last__content__title__cJro4 {
    margin-top: 15rem;
    position: relative;
    aspect-ratio: 1124/136;
    max-width: 1124px;
    width: 96rem
}

@media screen and (max-height:800px)and (min-width:851px) {
    .last_last__content__title__cJro4 {
        margin-top: 10rem
    }
}

@media screen and (max-width:850px) {
    .last_last__content__title__cJro4 {
        margin-top: 80px;
        aspect-ratio: 249/119;
        width: 249px
    }
}

.last_last__content__block__GYKBu {
    margin-top: 2rem;
    position: relative
}

@media screen and (max-width:850px) {
    .last_last__content__block__GYKBu {
        margin-top: 50px
    }
}

.last_last__content__block__title__qEoAf {
    width: -moz-fit-content;
    width: fit-content
}

@media screen and (max-width:850px) {
    .last_last__content__block__title__qEoAf {
        width: 330px
    }
}

.last_last__content__block__omikami__rsiU_ {
    position: absolute;
    bottom: 100%;
    right: -3%;
    aspect-ratio: 1/1;
    width: 10rem
}

@media screen and (max-width:850px) {
    .last_last__content__block__omikami__rsiU_ {
        width: 74px
    }
}

.last_last__content__box__BjAyT {
    margin-top: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 200
}

.last_last__content__box__text__p23nZ {
    width: 75rem
}

@media screen and (max-width:850px) {
    .last_last__content__box__text__p23nZ {
        width: 330px;
        height: 145px !important
    }
}

.last_last__content__box__button__Ld28t {
    pointer-events: all;
    margin-top: -3rem;
    z-index: 10
}

@media screen and (max-width:850px) {
    .last_last__content__box__button__Ld28t {
        margin-top: -25px
    }
}

.last_last__buyCoin__obqfx {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    top: 40vh
}

@media screen and (max-width:850px) {
    .last_last__buyCoin__obqfx {
        top: 45vh
    }
}

@media screen and (max-width:850px)and (max-height:500px) {
    .last_last__buyCoin__obqfx {
        top: 65vh
    }
}

.footer_footer__HGTrQ {
    position: absolute;
    bottom: 0;
    width: 100vw;
    z-index: 1000
}

.footer_footer__container__URjO9 {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 19.34932rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.42rem 19.28rem 3.29rem 5.48rem;
    background: linear-gradient(90deg, #f4e1dd 45.19%, #dac7c3 94.36%);
    box-shadow: 10px 14px 44px 0 rgba(165, 65, 25, .2);
    overflow: hidden
}

@media screen and (min-width:851px) and (max-width:1830px) {
    .footer_footer__container__URjO9 {
        padding-right: 9.28rem
    }
}

@media screen and (max-width:850px) {
    .footer_footer__container__URjO9 {
        flex-direction: column;
        justify-content: center;
        gap: 35px;
        padding: 40px 30px;
        max-height: 580px
    }
}

.footer_footer__container__lineFirst__0ouNH {
    position: absolute;
    top: .86rem;
    width: 161.13014rem;
    height: 1.5px;
    background: #d6bbb6
}

@media screen and (max-width:850px) {
    .footer_footer__container__lineFirst__0ouNH {
        top: 10px;
        width: calc(100% - 32px)
    }
}

.footer_footer__container__lineSecond__AmBQI {
    position: absolute;
    bottom: .86rem;
    width: 161.13014rem;
    height: 1.5px;
    background: #d6bbb6
}

@media screen and (max-width:850px) {
    .footer_footer__container__lineSecond__AmBQI {
        bottom: 10px;
        width: calc(100% - 32px)
    }
}

.footer_footer__container__cloudFirst__EbfEN {
    position: absolute;
    bottom: -2%;
    left: -2%;
    width: 23.11652rem
}

@media screen and (max-width:850px) {
    .footer_footer__container__cloudFirst__EbfEN {
        bottom: 0;
        left: 0;
        width: 270px
    }
}

.footer_footer__container__cloudSecond__07fdZ {
    position: absolute;
    top: -2%;
    right: -5%;
    width: 23.11652rem
}

@media screen and (max-width:850px) {
    .footer_footer__container__cloudSecond__07fdZ {
        bottom: 0;
        left: 0;
        width: 270px
    }
}

.footer_footer__container__cloudThird___w2Pg {
    position: absolute;
    top: 0;
    left: 0;
    width: 270px
}

.footer_footer__container__blockFirst__JeFdr {
    height: 100%
}

.footer_footer__container__blockSecond__cmMV4 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%
}

.footer_footer__container__blockFirst__JeFdr {
    position: absolute;
    top: 0;
    right: 0
}

.footer_footer__container__left__ZXBth {
    display: flex;
    flex-direction: column;
    gap: 1.28rem
}

@media screen and (max-width:850px) {
    .footer_footer__container__left__ZXBth {
        gap: 20px;
        align-items: center;
        justify-content: center
    }
}

.footer_footer__container__left__logo__B3NGf {
    display: flex;
    align-items: center;
    gap: 1.28rem
}

@media screen and (max-width:850px) {
    .footer_footer__container__left__logo__B3NGf {
        gap: 5px;
        justify-content: center
    }
}

.footer_footer__container__left__logo__image__WAwHp {
    position: relative;
    width: 6.84932rem;
    height: 6.84906rem
}

@media screen and (max-width:850px) {
    .footer_footer__container__left__logo__image__WAwHp {
        width: 50px;
        height: 50px
    }
}

.footer_footer__container__left__logo__text__6Qu9R {
    color: #30230a;
    font-family: Satoshi, sans-serif;
    font-size: 1.71233rem;
    font-weight: 900;
    text-transform: uppercase
}

@media screen and (max-width:850px) {
    .footer_footer__container__left__logo__text__6Qu9R {
        font-size: 16px;
        line-height: 22px;
        text-align: center
    }
}

.footer_footer__container__left__ZXBth>span {
    max-width: 13.9726rem;
    color: #30230a;
    font-family: Satoshi, sans-serif;
    font-size: 1.36986rem;
    font-weight: 500;
    line-height: 24px
}

@media screen and (max-width:850px) {
    .footer_footer__container__left__ZXBth>span {
        max-width: 132.41px;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        align-items: center;
        justify-content: center
    }
}

.footer_footer__container__medium__11vz_ {
    display: flex;
    gap: 14.9rem
}

@media screen and (min-width:851px) and (max-width:1306px) {
    .footer_footer__container__medium__11vz_ {
        gap: 4rem
    }
}

@media screen and (max-width:850px) {
    .footer_footer__container__medium__11vz_ {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px
    }
}

.footer_footer__container__medium__11vz_>ul {
    display: flex;
    flex-direction: column;
    gap: 2.43rem
}

@media screen and (max-width:850px) {
    .footer_footer__container__medium__11vz_>ul {
        align-items: center;
        justify-content: center;
        gap: 15px
    }
}

.footer_footer__container__medium__11vz_>ul>li {
    width: -moz-fit-content;
    width: fit-content
}

.footer_footer__container__medium__11vz_>ul>li>a,
.footer_footer__container__medium__11vz_>ul>li>button {
    color: #30230a;
    font-family: Satoshi, sans-serif;
    font-size: 1.71233rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: all .3s
}

.footer_footer__container__medium__11vz_>ul>li>a:hover,
.footer_footer__container__medium__11vz_>ul>li>button:hover {
    color: #f0360d
}

@media screen and (min-width:851px) and (max-width:1306px) {
    .footer_footer__container__medium__11vz_>ul>li>a,
    .footer_footer__container__medium__11vz_>ul>li>button {
        font-size: 1.36rem
    }
}

@media screen and (max-width:850px) {
    .footer_footer__container__medium__11vz_>ul>li>a,
    .footer_footer__container__medium__11vz_>ul>li>button {
        text-align: center;
        font-size: 20px;
        line-height: 27px
    }
}

.footer_footer__container__right__x7LnI {
    display: flex;
    flex-direction: column;
    gap: 2.14rem
}

@media screen and (max-width:850px) {
    .footer_footer__container__right__x7LnI {
        align-items: center;
        justify-content: center;
        gap: 35px
    }
}

.footer_footer__container__right__top__sEth2 {
    display: flex;
    flex-direction: column;
    gap: 1.37rem
}

@media screen and (max-width:850px) {
    .footer_footer__container__right__top__sEth2 {
        align-items: center;
        justify-content: center;
        gap: 10px
    }
}

.footer_footer__container__right__top__sEth2>span {
    color: #30230a;
    font-family: Satoshi, sans-serif;
    font-size: 1.36986rem;
    font-weight: 500
}

@media screen and (max-width:850px) {
    .footer_footer__container__right__top__sEth2>span {
        font-size: 16px;
        line-height: 22px
    }
}

.footer_footer__container__right__top__icons__y_uHz {
    display: flex;
    gap: .86rem
}

.footer_footer__container__right__top__icons__y_uHz>a {
    transition: all .3s
}

.footer_footer__container__right__top__icons__y_uHz>a:hover {
    opacity: .7
}

.tos_tos__u4RKz {
    position: relative;
    min-height: 100dvh;
    background: linear-gradient(90deg, #f4e1dd 45.19%, #dac7c3 94.36%);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    overflow: hidden
}

.tos_tos__sun__VxqQl {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    opacity: .8
}

@media screen and (max-width:850px) {
    .tos_tos__sun__VxqQl {
        width: 1300px;
        top: -5%
    }
}

.tos_tos__leftCloud__ILdeE {
    position: absolute;
    left: 0;
    top: 0
}

@media screen and (max-width:850px) {
    .tos_tos__leftCloud__ILdeE {
        width: 260px;
        left: -100px
    }
}

.tos_tos__rightCloud__edbFj {
    position: absolute;
    right: 0;
    top: 5%
}

@media screen and (max-width:850px) {
    .tos_tos__rightCloud__edbFj {
        width: 209px;
        top: -110px;
        right: -70px
    }
}

.tos_tos__middle___EeaW {
    position: absolute;
    left: 8.84rem;
    top: 50%;
    transform: translateY(-50%)
}

@media screen and (max-width:850px) {
    .tos_tos__middle___EeaW {
        display: none
    }
}

.tos_tos__middleSun__fuQEa {
    position: absolute;
    left: 0;
    top: 60%;
    transform: translateY(-50%)
}

@media screen and (max-width:850px) {
    .tos_tos__middleSun__fuQEa {
        display: none
    }
}

.tos_tos__clouds__W_vOV {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%)
}

@media screen and (max-width:850px) {
    .tos_tos__clouds__W_vOV {
        display: none
    }
}

.tos_tos__cloudsSecond__fYvSD {
    position: absolute;
    left: 50%;
    top: 88%;
    transform: translate(-50%, -50%)
}

@media screen and (max-width:850px) {
    .tos_tos__cloudsSecond__fYvSD {
        display: none
    }
}

.tos_tos__endSun__jb_DU {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%) rotate(270deg)
}

@media screen and (max-width:850px) {
    .tos_tos__endSun__jb_DU {
        display: none
    }
}

.tos_tos__endMobileSun__BmWSz {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    width: 900px
}

.tos_tos__content__zAJyC {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7.02rem;
    width: 100%;
    margin-top: 18.66rem;
    margin-bottom: 23.67932rem;
    z-index: 100
}

@media screen and (max-width:850px) {
    .tos_tos__content__zAJyC {
        gap: 60px;
        margin-top: 117px;
        margin-bottom: 634px
    }
}

.tos_tos__content__top__XiYSA {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

@media screen and (max-width:850px) {
    .tos_tos__content__top__XiYSA {
        gap: 20px
    }
}

.tos_tos__content__top__XiYSA>h1 {
    text-align: center;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-family: Satoshi, sans-serif;
    font-size: 6.50685rem;
    font-weight: 900;
    text-transform: uppercase;
    background: radial-gradient(85.44% 86.99% at 8.99% 50%, #fb4820 0, #fc7355 58.59%, #fb4820 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

@media screen and (max-width:850px) {
    .tos_tos__content__top__XiYSA>h1 {
        font-size: 36px;
        line-height: 49px
    }
}

.tos_tos__content__top__XiYSA>p {
    max-width: 82.87671rem;
    color: #30230a;
    text-align: center;
    font-family: Satoshi, sans-serif;
    font-size: 2.39726rem;
    font-weight: 700
}

@media screen and (max-width:850px) {
    .tos_tos__content__top__XiYSA>p {
        max-width: 343px;
        font-size: 16px;
        line-height: 22px
    }
}

.tos_tos__content__bottom__dZ3ih {
    display: flex;
    flex-direction: column;
    gap: 6.85rem;
    width: 100%
}

@media screen and (max-width:850px) {
    .tos_tos__content__bottom__dZ3ih {
        gap: 30px
    }
}

.tos_tos__content__bottom__item__jBXrr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%
}

.tos_tos__content__bottom__item__title__wUY8u {
    z-index: 110
}

.tos_tos__content__bottom__item__text__BM5gn {
    width: 80.13699rem;
    height: 24.19392rem;
    margin-top: -2.22rem
}

@media screen and (max-width:850px) {
    .tos_tos__content__bottom__item__text__BM5gn {
        width: 363px;
        height: 184px;
        margin-top: -8px
    }
}